.wrapper {
    height: auto;
    width: auto;
}

/* .header {
    background-color: black;
    height: 100px;
    width: 100%;
} */

.container.warna {
    background-color: #ec1e37;
    width: 100%;
}

.logo {
    width: 200px !important;
}

.header {
    background-color: #ec1e37;
    height: 70px;
}

#navbarDropdown {
    color: white;
}

.navbar {
    height: 70px;
    width: 1200px;
    margin: auto;
}

/* .logo {
    width: 600px;
    height: 100px;
    float: left;
} */

.imgfluid {
    margin-left: 40px;
}

.menu {
    width: 600px;
    height: 100px;
    float: left;
}

.menu ul li {
    float: left;
    margin-right: 30px;
    list-style: none;
    line-height: 60px;
    color: white;
    width: 50px;
    text-decoration: none;
}

.data {
    float: left;
    margin-right: 30px;
    list-style: none;
    line-height: 60px;
    color: white;
    width: 50px;
    text-decoration: none;
}

.menu ul li a {
    height: 150px;
}

.menu ul li a:hover {
    background-color: azure;
    color: blue;
    width: 100px;
    cursor: pointer;
    height: 300x;
}

.sliderblog {
    background-color: #0e458a;
    height: 458px;
}

.slidercontent {
    width: 1200px;
    margin: auto;
}

.imageslider {
    background-color: #33cc99;
    max-width: 100%;
}

.imagesliderr {
    width: 348px;
    height: 245px;
    max-width: 100%;
    margin-top: 20px;
}

.content {
    /* background-color: rgba(16, 117, 189, 0.5); */
    height: 430px;
    margin-bottom: 40px;
}

.dataprestasi {
    text-align: center;
    color: black;
}

.content-gambar {
    width: 1200px;
    margin: auto;
    height: 400px;
    margin-top: 40px;
}

.image {
    float: left;
    width: 350px;
    height: 400px;
    margin-right: 50px;
}

.contentimage {
    background-color: #33cc99;
    height: 100px;
}

.fontimage {
    text-align: center;
    line-height: 100px;
    color: white;
}

.content-yutube {
    float: left;
    width: 500px;
    margin-right: 10px;
    margin-left: 10px;
}

.content-map {
    float: left;
    width: 450px;
    margin-right: 10px;
    margin-left: 10px;
}